{:up
 ["CREATE TABLE IF NOT EXISTS \"post\"
  ( id uuid DEFAULT uuid_generate_v4 () PRIMARY KEY
  , title TEXT
  , content TEXT
  , user_id uuid references \"user\"(id)
  , created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL
  , updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL
  );"]
 :down ["DROP TABLE \"post\""]}
