{:up
 ["CREATE TABLE IF NOT EXISTS \"comment\"
  ( id uuid DEFAULT uuid_generate_v4 () PRIMARY KEY
  , content TEXT
  , user_id uuid references \"user\"(id)
  , post_id uuid references \"post\"(id)
  , created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL
  , updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL
  );"]
 :down ["DROP TABLE \"comment\";"]}
