{:up
 [[:table/create {:table :comment :primary-key :uuid}
   [:column/add
    [:content :string]
    [:user_id {:references :account/id} :uuid]
    [:post_id {:references :post/id} :uuid]
    [:gungnir/timestamps]]]]
 :down
 [[:table/drop :comment]]}
